body {
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    overflow: hidden;
}

#mainDiv {
    width: 70%;
    height: 85vh;
    background-color: black;
    border: 10px ridge #333333;
    display: block;
    margin: 3% auto;
    text-align: center;
    overflow: scroll;
    z-index: 1;
}

#pageTitle {
    font-family: 'OctoSquares';
    font-size: 300%;
    text-shadow: 2px 2px 5px white;
}

#white {
    color: white;
}

#blue {
    color: blue;
}

#separator {
    width: 60%;
}

#gallery {
    display: grid;
    gap: 8% 5%;
    grid-template-columns: repeat(5, 1fr);
    padding: 3% 15%;
}

#gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#gallery img:hover {
    background-color: skyblue;
    cursor: pointer;
}

#imageViewer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: grid;
    place-items: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

#selectedImage {
    width: 30%;
    object-fit: contain;
}

#xButton {
    width: auto;
    height: auto;
    object-fit: contain;
    position: fixed;
    cursor: pointer;
}

.selectionButton {
    font-size: 120%;
}

.selectionButton.unselected {
    color: gray;
}

.selectionButton.selected {
    color: lightskyblue;
}

@font-face {
    font-family: 'OctoSquares';
    src: url('font/TTOctosquares-DBold.woff2') format('woff2');
}